<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clicky.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Clicky.Properties.Settings>
            <setting name="RegisterHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartClickingKey" serializeAs="String">
                <value />
            </setting>
            <setting name="StartClickingCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartClickingAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartClickingShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopClickingKey" serializeAs="String">
                <value />
            </setting>
            <setting name="StopClickingCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopClickingAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopClickingShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopClickingWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleClickingKey" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="ToggleClickingCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleClickingAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleClickingShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleClickingWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartClickingWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopOnMouseMove" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopOnCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopOnCountdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClicksPerSecond" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StartDelay" serializeAs="String">
                <value>1</value>
            </setting>
        </Clicky.Properties.Settings>
    </userSettings>
</configuration>